<!doctype html>
<meta charset="utf-8">
<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<script src="https://procfuwidgets.b-cdn.net/pfui/pf_iframe_fixer.js"></script>
<title>{% block title %}Lippe blüht{% endblock %} — Lippe blüht</title>
<body>
  <header>
    <h1>Lippe blüht</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Startseite</a></li>
        {% for href, title in [
          ['/2021', '2021'],
          ['/2020', '2020']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <p>
        Static HTML generated with <a href="https://www.getlektor.com/" target="_blank">Lektor</a>.
        JS inserts from <a href="https://www.podio.com/" target="_blank">Podio</a> using <a href="https://www.globiflow.com/" target="_blank">GlobiFlow</a>.
        Built by <a href="https://fritzfeger.com/">Fritz</a>.
    </p>
  </footer>
</body>
