body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

a {
    color: #006666;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 100%;
    margin: 0 auto;
    background: #BDB9B1;
    padding: 20px 30px;
}

header h1 {
    color: #006666;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #edebe6;
}


.globiflow-cms-view-table th { text-align: center; font-weight: bold; padding: 2px 10px; vertical-align: bottom; }
.globiflow-cms-view-table td { padding: 2px 10px; vertical-align: top; }
.globiflow-cms-view-table td img { max-height: 75px; }
.globiflow-cms-view-table td.globiflow-left { text-align: left; }
.globiflow-cms-view-table td.globiflow-right { text-align: right; }
.globiflow-cms-master-table tbody tr { cursor: pointer; }
.globiflow-cms-master-table tbody tr:hover { -webkit-filter: invert(100%); filter: invert(100%); }
#globiflow-overlay { visibility: hidden; position: fixed; left: 0px; top: 0px; width:100%; height:100%; text-align:center; z-index: 999999; background-color:rgba(240,240,240,0.8); }
#globiflow-overlay-window { width:65%; min-width:300px; max-width:800px; margin: 75px auto; max-height: 75%; background-color: #fff; border:1px solid #000; padding:15px; text-align:left; overflow-x: auto; overflow-y: scroll; }
